server:
  port: 8888
spring:

  redis:
    lettuce:
      pool:
        max-wait: 100ms
        max-active: 200
        max-idle: 10
        min-idle: -1
    host: localhost
    port: 6379
    password:
    timeout: 1000ms
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/test?serverTimezone=UTC&useSSL=false
    driver-class-name: com.mysql.cj.jdbc.Driver



task:
  pool:

    core-pool-size: 2

    max-pool-size: 4

    keep-alive-seconds: 60

    queue-capacity: 5


code:
  expiration: 5


loginCode:
  expiration: 2
